@keyframes drag {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
}
to {
          -webkit-transform: translateX(50px);
          transform: translateX(50px);
          opacity: 1;
}
  }

@keyframes apear {
    from {
        opacity: 0;
}
to {
          opacity: 1;
    }
  }

body {
  font-family: Arial, Helvetica, sans-serif;
}


.header_container {
    background-color: rgb(107, 0, 128);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    gap: 30%;
}

.header_container img{
    animation: appear 700ms ease;
}

.form_container {
            position: relative;
            left: 25%;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            background-color: lightgrey;
            color: black;
            border-radius: 5%;
            text-align: center;
            width: 50%;
            padding: 5px ;
            margin: 10px;
            overflow-y: hidden;
            animation: drag 700ms ease;
}

form label {
    margin-bottom: 5px;
    display: block;
  }

  form input {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.button {
    width: 100%;
    margin-top: 12px;
    color: var(--gold);
    border-radius: 5px;
    
    border: none;
    outline: none;
    padding: 12px;
    font-weight: bold;
    transition: 250ms ease;
    cursor: pointer;
}

.btn--one{
  background-color:rgb(107, 0, 128);
}

.main{
  background-color:rgb(107, 0, 128);
}

button:hover {
    background-color: rgb(255, 51, 0);
}

.footer_container {
    text-align: center;
    background-color: rgb(19, 18, 18);
    color: aliceblue;
}
